:root {
	--dark-color: #666666;
	--green-color: #6D902B;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 20px;
	vertical-align: baseline;
	background: transparent;
}
body {
	background-color: var(--dark-color);
}
#page-header {
	width: 100vw;
	height: 10vh;
	background-color: var(--green-color);
  position: relative;
}
#page-title {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#show-navbar {
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: var(--dark-color);
	color: var(--dark-color);
	height: 10vh;
	width: 25%;
	position: absolute;
	top: 0;
	right: 0;
}
#show-navbar:hover, #show-navbar:focus {
	background-color: var(--dark-color);
	color: var(--green-color);
}
#page-navbar.mobile-invisible {
	display: none;
}
#page-navbar{
	display: initial;
	position: absolute;
	width: 100%;
	height: 60vh;
}
#navbar-links {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.navbar-link{
	width: 100%;
	height: 33%;
	border: solid black;
	border-width: 4px 4px 0px 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	background-color: var(--green-color);
}
.navbar-link:hover, .navbar-link:focus {
	background-color: var(--dark-color);
	color: var(--green-color);
}
.navbar-link:nth-last-of-type(1){
	border-width: 4px;
}
.page-body {
	background-image: url('../imgs/mobileBackground.png');
	background-repeat: repeat-y;
	background-position: center;
}
#plant-list{
	list-style-type: none;
	height: 100%;
}
.plant-container{
	display: none;
}
.plant-container.active{
	width: 75vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-evenly;
}
.plant-container > .plant-title {
	height: 20%;
	display: flex;
	align-items: center;
}
.content-alignment-container {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.plant-image-container {
	width: 75%;
	height: 33%;
	background-color: var(--dark-color);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	position: relative;
}

.plant-image-container >img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plant-description-container {
	height: 33%;
	width: 75%;
	background-color: var(--dark-color);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.description-selection-list {
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.description-selection {
	width: 33%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.description-selection-title {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.description-selection-title:hover, .description-selection-title:focus{
  cursor: pointer;	
}
.selection-section {
	display: none;
}
.description-selection-list > .description-selection> .description-selection-title.selected{
	color: var(--green-color);
}
.description-selection-nav {
	height: 15%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-width: 0px 0px 4px 0px;
	border-color: var(--green-color);
	border-style: solid;
}
.selection-section.selected{
	display: flex;
	height: 85%;
	align-items: center;
	justify-content: center;
}
.selection-section > .description-selection-contents {
	width: 75%;
	height: 100%;
	margin: auto;
	overflow-y: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#page-cycle-buttons {
	position: absolute;
	bottom: 5vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	height: 10%;
	width: 40%
}

.page-body{
	display: none;
}
.page-body.selected{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../imgs/mobileBackground.png');
	background-repeat: repeat-y;
	background-position: center;
	min-height: 80vh;
}
#contact-section {
	flex-direction: column;
  justify-content: flex-start;
}
#contact-section > .alignment-container {
	margin-top: 10%;
	height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--green-color);
	padding: 10%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#contact-section >.alignment-container >.body-title {
	height: 20%;
}
.contact-section-container{
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
#about-section{
	flex-direction: column;
	justify-content: flex-start;
}
#about-section >.body-title {
	margin-top: 5%;
	padding: 5% 15%;
	background-color: var(--green-color);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#about-section > .about-section-container{
	display: flex;
	flex-direction: column;
	width: 80%;
}
.about-section-container > .message-part {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.message-part >article {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--dark-color);
	margin: 5vh 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.message-part > article > p {
	width: 80%;
	margin: 5% 0;
}
.message-part > article > p > a {
	color: var(--green-color);
	text-decoration: none;
}
.message-part > article > ul {
	width: 60%;
	list-style-type: none;
	margin: 5% 0;
}
.message-part > article > ul > li:before{
	content: "\2022";
	color: var(--green-color);
	display: inline-block;
	font-weight: bold;
	width: 1em;
	margin-left: -1em;
}
.message-part > article > h4 {
	color: var(--green-color);
	margin-top: 5%;
}
.message-part > h3 {
	margin-top: 5%;
	padding: 5%;
	background-color: var(--green-color);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.message-part > article > table {
	width: 80%;
}
.message-part > article > table > thead td{
	color: var(--green-color);
	border-color: black;
}
.message-part > article > table td {
	text-align: center;
	vertical-align: middle;
	border: solid;
}
.message-part > article > table td>ul{
	text-align: left;
	margin-left: 1em;
	list-style-type: none;
	margin-top: 10%;
	margin-bottom: 10%;
}
.message-part > article > table td>ul>li:before{
	content: "\2022";
	color: var(--green-color);
	display: inline-block;
	font-weight: bold;
	width: 1em;
	margin-left: -1em;
}
#plants-section{
	height: 80vh;
}
#previousButton.invisible, #nextButton.invisible {
	visibility: hidden;
}

#page-cycle-buttons {
		display: flex;
		align-self: center;
}
#page-cycle-buttons >button {
	width: 50%;
}
#page-cycle-buttons > button:hover, #page-cycle-buttons > button:focus{
	cursor: pointer;
}
#previousButton {
	background-color: var(--dark-color);
	color: var(--green-color);
}
#nextButton {
	background-color: var(--green-color);
	color: var(--dark-color);
}
@media screen and (orientation: landscape), (min-width: 1081px){
	.content-alignment-container {
		flex-direction: row;
	}
	.content-alignment-container >.plant-image-container, .content-alignment-container > .plant-description-container {
		height: 75%;
		width: 40%;
	}
  #page-cycle-buttons {
	 position: absolute;
	 right: 5vw;
	 bottom: initial;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	 height: 20%;
	 width: 10%
  }
	#show-navbar {
		display: none;
	}
	#page-navbar.mobile-invisible, #page-navbar{
		display: initial;
		height: 10vh;
	}
	#page-navbar > #navbar-links {
		flex-direction: row;
		height: 100%;
	}
	#navbar-links > .navbar-link {
		border-width: 0px;
		height: 100%;
	}
	.page-body.selected {
		margin-top: 10vh;
		background-image: url('../imgs/desktopBackground.png');
		background-repeat: repeat;
		min-height: 80vh;
	}
	#contact-section >.alignment-container {
		margin-top: auto;
		margin-bottom: auto;
	}
}